/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "fomantic-ui/dist/semantic.css";

body {
    color: #303030;
    padding-bottom: 300px !important;

}

.main {
    margin: 70px;
}


.ui.segment.sermon {
    margin: 30px;
    padding: 55px !important;
    text-align: justify;
    font-size: 1.3em;
}

.link-card {
    cursor: pointer;
}

.link-card:hover {
    background-color: lightgray !important;
}

.footer {
    min-height: 75px !important;
}

/*.topbar {*/
/*    margin: 20px !important;*/
/*    position: fixed !important;*/

/*    top: 0;*/
/*    height: 50px;*/
/*}*/
