/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/
@import "fomantic-ui/dist/semantic.css";

body {
    color: #303030;

}

.main {
    margin-top: 70px;
}


.sermon {
    margin: 30px;
    padding: 40px !important;
    text-align: justify;
    font-size: 1.3em;
}

.link-card {
    cursor: pointer;
}

.link-card:hover {
    background-color: lightgray !important;
}

/*.topbar {*/
/*    margin: 20px !important;*/
/*    position: fixed !important;*/

/*    top: 0;*/
/*    height: 50px;*/
/*}*/
